
<div class="col-md-4">

  <h1>Search for some movies.</h1>

  <form role="form" ng-submit="searchRT()">
    <div class="form-group">
      <input type="text" ng-model="searchQuery" ng-blur="searchRT()" class="form-control">
    </div>
  </form>

  <h3 ng-show="resultsField">Cool, which one is it?</h3>
  <table class="table">
    <tr class="toggle" ng-repeat="movie in searchResults">
      <td><a href="" ng-click="movieLookup(movie.id)">{{ movie.title }} ({{ movie.year }})</a></td>
    </tr>
  </table>

</div>

<div class="col-md-8">

<table class="table">
  <tr>
    <th>Info</th>
  </tr>
  <tr>
    <td>{{ movies }}</td>
  </tr>
</table>
  
</div>

