
<!-- Search View -->
<div class="search">

  <!-- Left Column -->
  <div class="col-md-3 search__input">
    <h1>Search for some movies.</h1>

    <form role="form" ng-submit="searchRT()">
      <div class="form-group">
        <input type="text" ng-model="searchQuery" ng-blur="searchRT()" class="form-control">
      </div>
    </form>

    <div class="search__input__results">
      <h3 ng-show="resultsField">Cool, which one is it?</h3>
      <table class="table">
        <tr class="toggle" ng-repeat="movie in searchResults">
          <td ng-click="addMovie(movie)">{{ movie.title }} ({{ movie.year }})</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Right Column -->
  <div class="col-md-9 search__output">

    <div class="search__flex flex" ng-show="moviesField" ng-repeat="movie in movies">
      <div class="search__flex__image" ng-style="{'background-image':'url(' + movie.image_url + ')'}"></div>
      <div class="search__flex__score">{{ movie.ratings.critics_score }}</div>
      <div class="search__flex__consensus" ng-bind-html="movie.critics_consensus"></div>
      <div class="search__flex__title">{{ movie.title }}</div>
      <div class="search__flex__year">{{ movie.year }}</div>
      <div class="search__flex__synopsis">{{ movie.synopsis }}</div>
      <div class="search__flex__delete"><span class="glyphicon glyphicon-remove delete" ng-click="deleteMovie(movie)"></span></div>
    </div>

  </div>
  
</div>
