
<div class="col-md-4">

  <h1>Search for some movies.</h1>

  <form role="form" ng-submit="searchRT()">
    <div class="form-group">
      <input type="text" ng-model="searchQuery" class="form-control">
    </div>
  </form>

  <h2>Cool, which one is it?</h2>
  <table>
    <tr class="toggle" ng-repeat="movie in searchResults">
      <td>{{ movie }}</td>
    </tr>
  </table>
 
 <!-- <ul class="toggle" ng-repeat="movie in searchResults"> -->
    <!-- <tr > -->
      <!-- <li >{{ movie }}</li> -->
    <!-- </tr> -->
  <!-- </ul> -->

</div>

<div class="col-md-8">

<!-- <table class="table">
  <tr>
    <th></th>
  </tr>
</table> -->
  
</div>

