@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
.search .search__input h1 {
  font-size: 30px; }
.search .search__input .search__input__results {
  margin: 20px 0 0 20px; }
  .search .search__input .search__input__results a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none; }
    .search .search__input .search__input__results a:hover {
      color: white; }
  .search .search__input .search__input__results td:hover {
    cursor: pointer;
    color: black;
    background-color: #f1f2f7; }
.search .search__output .search__flex {
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 15px;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px; }
  .search .search__output .search__flex:hover {
    background-color: #f0f0f0; }
  .search .search__output .search__flex div {
    text-align: center;
    vertical-align: middle; }
  .search .search__output .search__flex .search__flex__image {
    height: 100%;
    background-size: cover;
    width: 10%; }
  .search .search__output .search__flex .search__flex__score {
    font-size: 26px;
    font-weight: 600;
    width: 10%; }
  .search .search__output .search__flex .search__flex__consensus {
    font-style: italic;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%; }
  .search .search__output .search__flex .search__flex__title {
    font-size: 16px;
    width: 15%; }
    .search .search__output .search__flex .search__flex__title a {
      text-decoration: none; }
  .search .search__output .search__flex .search__flex__year {
    font-size: 16px;
    width: 5%; }
  .search .search__output .search__flex .search__flex__synopsis {
    align-self: flex-start;
    height: 140px;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: 300;
    overflow: hidden;
    width: 38%; }
  .search .search__output .search__flex .search__flex__delete {
    font-size: 18px;
    width: 4%; }
    .search .search__output .search__flex .search__flex__delete span {
      cursor: pointer; }

.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-enter-active {
    opacity: 1; }
  .toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-leave-active {
    opacity: 0; }
  .toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
  height: 1000px; }

.slide-animation.ng-enter {
  z-index: 100;
  left: 100px;
  opacity: 0; }

.slide-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1; }

.slide-animation.ng-leave {
  z-index: 101;
  opacity: 1;
  left: 0; }

.slide-animation.ng-leave.ng-leave-active {
  left: -100px;
  opacity: 0; }

html, body {
  font-family: 'Open Sans', sans-serif; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.navbar-fresh {
  background-color: #2a3542;
  border-radius: 0px;
  color: white; }
  .navbar-fresh a {
    color: white; }
    .navbar-fresh a:hover {
      color: skyblue; }

.navbar-brand {
  font-weight: 300; }
  .navbar-brand span {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px; }
