//
// Search View SCSS File
// ----------------------------------

.search {

  .search__input {
    h1 {
      font-size: 30px;
    }

    .search__input__results {
      margin: 20px 0 0 20px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
      td {
        &:hover {
          cursor: pointer;
          color: black;
          background-color: #f1f2f7;
        }
      }
    }
  }

  .search__output {

    .search__flex {
      width: 100%;
      height: 160px;
      overflow: hidden;
      margin-bottom: 15px;
      align-items: center;
      background-color: rgb(245, 245, 245);
      padding: 10px;
      &:hover {
        background-color: rgb(240, 240, 240);
      }

      div {
        text-align: center;
        vertical-align: middle;
      }

      .search__flex__image {
        height: 100%;
        background-size: cover;
        width: 10%;
      }
      .search__flex__score {
        font-size: 26px;
        font-weight: 600;
        width: 10%;
      }
      .search__flex__consensus {
        font-style: italic;
        font-weight: 300;
        padding-left: 5px;
        padding-right: 5px;
        width: 20%;
      }
      .search__flex__title {
        font-size: 16px;
        width: 15%;
        a {
          text-decoration: none;
        }
      }
      .search__flex__year {
        font-size: 16px;
        width: 5%;
      }
      .search__flex__synopsis {
        align-self: flex-start;
        height: 140px;
        padding-left: 20px;
        padding-right: 10px;
        font-weight: 300;
        overflow: hidden;
        width: 38%;
      }
      .search__flex__delete {
        font-size: 18px;
        width: 4%;
        span {
          cursor: pointer;
        }
      }
    }

  }

}